<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Flask Datta Able -
            {% block title %}{% endblock %}
            | AppSeed
        </title>
        <!-- fontawesome icon -->
        <link rel="stylesheet"
              href="{{ config.ASSETS_ROOT }}/fonts/fontawesome/css/fontawesome-all.min.css">
        <!-- animation css -->
        <link rel="stylesheet"
              href="{{ config.ASSETS_ROOT }}/plugins/animation/css/animate.min.css">
        <!-- vendor css -->
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css">
        <!-- dark mode css -->
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/dark.css">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/payment.css">
        <!-- Specific CSS goes HERE -->
        {% block stylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}
        <div class="auth-wrapper">
            <div class="auth-content">
                <div class="card">
                    <div class="card-body text-center">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Enable the dark mode -->
        <label class="d-none">
            <i class="icon feather icon-sun" id="theme-indicator"></i>
            <input type="checkbox" id="theme-switch" class="d-none">
        </label>
        {% include 'includes/scripts.html' %}
        <!-- Specific Page JS goes HERE  -->
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
</html>
