{% extends "layouts/base-fullscreen.html" %}
{% block content %}
  {% from "flask_user/_macros.html" import render_field, render_submit_field %}
  <div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="card-body text-center">

                <div class="mb-4">
                    <i class="feather icon-unlock auth-icon"></i>
                </div>
                <h3 class="mb-4">Thank you for registering!</h3>
                <p class="mb-4">Please check your email and click on the link to confirm your email address.</p>
                <button class="btn btn-primary shadow-2 mb-4">Resend confirmation email</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
