<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">SiwiecTech</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Admin Console</label>
                </li>
                <li data-username="consultant Dashboard" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Invite User" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="{{ url_for('user.invite_user') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Invite User</span></a>
                </li>                
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="/admin/manage-users" class="nav-link "><span class="pcoded-micon"><i
                        class="feather icon-server"></i></span><span class="pcoded-mtext">Manage Users</span></a>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/admin/accounting" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Accounting</span></a>
                </li>     
                <li data-username="Table bootstrap datatable footable" 
                class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                <a href="/user/sign-out" class="nav-link "><span class="pcoded-micon"><i
                        class="feather icon-server"></i></span><span class="pcoded-mtext">Log out</span></a>
                </li>    
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
