{% extends "layouts/base-client.html" %}
{% block content %}
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <h2>{% trans %}Client page{% endtrans %}</h2>
                            <p>
                                <a href={{ url_for('user.register') }}>{% trans %}Register{% endtrans %}</a>
                            </p>
                            <p>
                                <a href={{ url_for('user.login') }}>{% trans %}Sign in{% endtrans %}</a>
                            </p>
                            <p>
                                <a href={{ url_for('main.home_page') }}>{% trans %}Home Page{% endtrans %}</a> (accessible to anyone)
                            </p>
                            <p>
                                <a href={{ url_for('main.client_page') }}>{% trans %}Member Page{% endtrans %}</a> (login_required: member@example.com / Password1)
                            </p>
                            <p>
                                <a href={{ url_for('main.admin_page') }}>{% trans %}Admin Page{% endtrans %}</a> (role_required: admin@example.com / Password1')
                            </p>
                            <p>
                                <a href={{ url_for('user.logout') }}>{% trans %}Sign out{% endtrans %}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
